# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Logs
logs/
*.log

# Optional (build tools, frontend frameworks)
*.cache
coverage/
